.allPage_topSettings {
  background-color: #f4f6f7;
  margin-bottom: 20px;
}
.allPageCommentSort {
  position: relative;
  top: 7px;
  border-right: 1px solid rgba(0,0,0,.1);
  padding-right: 15px;
  color: rgba(92, 112, 128, 0.5)
}
.allPageCommentSort .bp3-control-indicator {
  margin-right: 15px !important;

}
.transitionEverything {
  transition: all .2s ease;
}
.allPage_topSettings_wrapper {
  background-color: rgba(255,255,255,1);
  padding: 5px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  border-radius: 5px;
  position: sticky;
  top: 40px;
  z-index: 19;
}
.allPage_topSettings_wrapper .allPage_topSettings {
  background: transparent;
}
.topTopicsContainer {
  margin-bottom: 10px;
  transition: all .2s ease;
}
.topTopicsExpanded.topTopicsContainer {
  background-color: rgba(167, 182, 194, 0.85);
  margin: 0 -10px 20px;
  padding: 10px 10px 0;
}
.allBookSearchInput {
  margin: -10px -15px 20px;
}
.allSearchOptions {
  display: none;
}
.allSearchOptions span {
  font-weight: 300;
  font-size: 11px;
  padding:2px 5px;
  transition: all .2s ease;
  text-transform: uppercase;
}
.allSearchOptions span:hover {
  cursor: pointer;
  opacity: .7;
}
.allSearchOptions span.selectedSearchOption {
  font-weight: 500
}
.singleBookContainer {
  display: block;
  float: left;
  margin: 0 15px 25px ;
  height: 285px;
}
.bookCardWrapper {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  padding:15px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
}
.bookCardWrapper .bookCard_more {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 18;
}
.bookCardWrapper .bookCard_more:hover {
  cursor: pointer;
}
.bookCardWrapper .bookCard_book {
  padding: 0 15px;
}
.bookCard_noComments {
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  color: rgba(0,0,0,.45);
  display: block;
  padding: 15px;
}
.bookCardWrapper .bookCard_book .singleBookWrapper {
  margin: 0 auto;
}
.bookCardWrapper .bookCard_details {
  padding-top: 20px;
}
.bookCard_engage {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.15)
}

.bookCard_engage li {
  width: 33.3%;
  text-align: center;
  padding: 10px;
  transition: all .2s ease;
}
.bookCard_engage li:hover {
  cursor: pointer;
  opacity: .7;
}
.bookCard_engage li:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.15);
}
.bookCard_commentsContainer {
  position: relative;
  min-height: calc(100% - 56px);
}
.keen_comments_wrapper {
  list-style: none;
  padding: 0;
  margin: 0 0 60px;
  display: block;
}
.singleBook_actionsWrapper .keen_comments_wrapper {
  margin-bottom: 75px;
}
.keen_comments_wrapper li {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
}
.keen_comments_wrapper li.questionComment {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 0 0 10px;
  margin-bottom: 15px;
}
.keen_comments_wrapper li.questionComment .bp3-popover-wrapper,
.keen_comments_wrapper li.questionComment .bp3-popover-wrapper .bp3-popover-target {
  width: 100%
}
.keen_comments_wrapper li.questionComment .comment_book_container {
  overflow: hidden;
  width: 100%;
}
.keen_comments_wrapper li.questionComment .comment_book_container .comment_book_pic {
  float: left;
  width: 15%;
  display: block;
  margin-right: 15px;
}

.keen_comments_wrapper li.questionComment .comment_book_container .comment_book_pic img {
  width: 100%;
  display: block;
}

.keen_comments_wrapper li.questionComment .comment_book_container .comment_book_info {
  display: block;
  float: left;
  width: calc(80% - 16px)
}
.keen_comments_wrapper li .keen_comments_avatar {
  float: left;
  width: 30px;
  display: block;
  padding-top: 5px;
}
.keen_comments_wrapper li .keen_comments_details {
  display: block;
  width: 100%
}
.keen_comments_wrapper li .keen_comments_details strong {
  display: block
}

.keen_comments_wrapper li .keen_comments_details .keen_comment_text {
  line-height: 17px;
  display: block;
  font-weight: 200
}
.bookCard_commentsContainer .keen_comments_meta {
  position: absolute;
  bottom: 37px;
  width: 100%;
  text-align: right;
  padding-right: 5px;
}
.bookCard_commentsContainer .keen_comments_meta small {
  margin-left: 15px;
}
.bookCard_commentsContainer .keen_comments_meta small, .bookCard_commentsContainer .keen_comments_meta small a {
  color: rgba(0,0,0,.5)
}
.bookCard_commentsContainer .keen_comments_Input {
  width: 100%;
  position: absolute;
  bottom: 5px
}

.singleBookPage {}
.singleBookPage header {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.singleBookPage header strong, .singleBookPage header small {
  display: block;
}
.singleBook_bcrumb {
  color: #5c7080;
  transition: all .2s ease;
}
.singleBookPage .bp3-breadcrumbs {
  margin-bottom: 15px;
}
.singleBookPage .bp3-breadcrumbs > li::after {
  opacity: .5;
}
.singleBook_bcrumb:hover {
  opacity: .7;
  color: #5c7080;
}
.singleBook_bcrumb .bp3-icon {
  position: relative;
  top: -2px
}
.singleBookPage .singleBookWrapper {}
.singleBook_top_topics_wrapper {}
.singleBook_top_topics_wrapper h5 {
  color: rgba(0,0,0,.65);
  font-weight: 600;
  margin-bottom: 15px;
}
.singleBook_top_topics_wrapper p {
  display: block;
  margin-top: -10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 10px;
}
.singleBookAddTopics {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.incomingTopics {
  margin-bottom: 5px;
}
.singleBook_engageSection {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 15px;
}
/* .singleBook_actionsWrapper .bookCard_commentsContainer .keen_comments_meta {
  position: relative
}
.singleBook_actionsWrapper .keen_comments_Input {
  position: relative;
} */
.singleBook_actionsWrapper .bookCard_commentsContainer {
  min-height: 100%
}
.singleBook_actionsWrapper .keen_comments_wrapper {

}
.underBookMenu {
  list-style: none;
  padding: 0
}
.tagsHolder { }
.tagsHolder .selectedTagsHolder {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 10px;
}
.sortHolder { }
.sortHolder ul {
  padding: 0;
  list-style: none;
  border-top: 1px solid rgba(0,0,0,.1)
}
.sortHolder ul li {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 10px 0 0
}
.makeSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
}
.metaListItem {
  display: block;
  font-size: 13px;
}
.metaListItem:first-child {
  margin-top: 25px;
}
