.section_padding {
  padding-top: 25px;
  padding-bottom: 25px;
}
.section_padding h6, .section_padding h5 {
  margin: 10px 0 20px;
}
.section_gray {
  background-color: rgba(167, 182, 194, 0.13);
}
.section_top {
  margin-top: 50px;
}
.heroSection {
  background-color: rgba(167, 182, 194, 0.13);
  font-family: ministry, sans-serif;
  position: relative;
  height: 550px;
  margin-bottom: 70px;
}

.heroSection h2::selection, .heroSection .heroDescription::selection {
  background-color: rgba(167, 182, 194, 0.3);
  color: rgb(24, 32, 38);
}
.heroSearchWrapper {
  margin-bottom: 50px;
}
.heroSearchWrapper .bp3-popover-wrapper {
  margin-right: 5px;
}
.heroSearchWrapper input,
.heroSearchWrapper .bp3-popover-wrapper,
.heroSearchWrapper .bp3-input-group  {
  width: 100%
}

.heroSearchWrapper .bp3-input-group .bp3-input:focus + .heroSearchWrapper .bp3-input-group .bp3-input-action {
  background: white
}
.heroAddBookBtn {
  border-radius: 5px;
  background-color: rgba(167, 182, 194, 0.13);
  border: 3px solid rgba(167, 182, 194, 1);;
  font-size: 16px;
  height: 50px;
  font-family: ministry, sans-serif;
  font-weight: 500;
  width: 150px;
  text-transform: uppercase;
  margin-left: 5px;
  color: #5c7080;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.heroAddBookBtn:hover {
  background-color:rgba(255,255,255,.4);
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.topicListTitle {
  font-weight: 300
}
.topicListItem {
  font-weight: 200
}

.heroTopicsWrapper {
  background-color: rgba(167, 182, 194, 0.85);
  display: block;
  margin: 0 -15px;
  overflow: hidden;
  padding: 5px
}
.heroTopicsWrapper .heroTopicsTitle {
  display: block;
  width: 60px;
  float: left;
}
.heroTopicsWrapper .heroTopicsContainer {
  display: block;
  float: left;
  width: calc(100% - 60px);
}
.searchSelectors {
  padding: 0 0 0 15px;
  display: flex;
}
.searchSelectors span {
  display: block;
  margin-right: 10px;
  padding: 3px 3px 0;
  font-weight: 300;
  text-transform: uppercase;
  transition: all .15 ease
}
.searchSelectors span:hover {
  cursor: pointer;
  opacity: .7;
}
.searchSelectors span.searchSelector_selected {
  font-weight: 500
}
.bookResultsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.searchBoxText {
  padding: 0 0 0 15px;
  font-weight: 300;
  display: block;
}
.searchBoxText strong {
  transition: all .15s ease;
}
.searchBoxText strong:hover {
  opacity: .7;
  cursor: pointer;
}
