.authButton {
  background-color: #5c7080;
}


.newBookSearch, .newBookSearch span {
  width: 100%;
  display: block;
}

.topicSearchWrapper,
.topicSearchWrapper .bp3-popover-target ,
.topicSearchWrapper .bp3-popover-target .bp3-active,
.topicSearchWrapper .bp3-popover-target .bp3-active .bp3-input,
.topicSearchWrapper .bp3-popover-target .bp3-active .bp3-input .bp3-tag-input-values,
.topicSearchWrapper .bp3-popover-target .bp3-active .bp3-input .bp3-tag-input-values .bp3-input-ghost {
  width: 100%;
}

.newQuestionTagsContainer {
  background-color: rgba(167, 182, 194, 0.85);
  margin: 5px 0 15px;
  padding: 10px 15px;
  width: 100%
}

.kp_input_btn {
  padding: 3px 8px;
  border-radius: 3px;
  text-align: center;
  background-color: rgba(92,112,128, .25);
  color: rgba(92,112,128, 1);
  font-size: .75rem;
  font-weight: 500;
  margin: 3px;
  transition: all .2s ease;
}
.kp_input_btn:hover {
  cursor: pointer;
  background-color:  rgba(92,112,128, .35);
}

.kp_input_btn {
  background-color: white;
}
