@import "./bookList.css";

.userProfileCard {}
.userProfileCard h6 {
  margin: 0 0 0 -15px
}
.userProfileCard h6 strong {
  color: rgba(0,0,0,.7)
}
.userProfileCard h6 small {
  display: block;
  color: rgba(0,0,0,.7);
  margin-top: 3px;
}
.userProfileCard h6 small:last-child {
  font-weight: 200;
  font-size: 11px;
  
}
.profile_tabs_wrapper {
  /* margin: 25px -15px; */
}
.bp3-tab {
  outline: none !important;
}
.profile_tabs_wrapper .bp3-tab {
  color: rgba(167, 182, 194, 0.85)
}
.profile_tabs_wrapper .bp3-tab-indicator {
  background-color: #5c7080;
}
.profile_tabs_wrapper .bp3-tab[aria-selected=true], .profile_tabs_wrapper .bp3-tab:hover {
  color: #5c7080;
}
.profileHeader {
  position: relative;
}
.profile_picture_name {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 10;
}
.profile_picture_name .profile_picture_img {
  display: block;
  float: left;
  margin: 0 0 0 15px;
  width: 72px;
  height: 72px;
  transition: all 0.28s ease;
  position: relative
}
.profile_picture_name .profile_picture_img:hover {
  cursor: pointer;
}
.profile_picture_name .profile_picture_img span {
  background-color: white;
  border-radius: 50%;
  border: 7px solid #5c7080
}

.profile_picture_nm {
  margin: 0 0 0 10px;
  display: block;
  float: left;
  position: absolute;
  bottom: 30px;
  left: 90px;
  font-weight: 600;
  color: #5c7080;
  font-size: 18px;
}
.profile_header_meta {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #5c7080;
  color: rgba(255,255,255,.9);
  padding: 5px 0 5px 100px;
  font-size: 12px;
  font-weight: 200
}
.profile_header_meta span {
  display: block;
  float: left;
  margin-right: 15px
}
.profile_tab_title {
  padding: 2px 8px 2px 5px;
}
.profile_tab_title span {
  margin-right: 5px;
}
.profile_tab_title small {
  position: relative;
  top: -1px;
  padding: 3px;
  border: 1px solid rgba(1,1,1,.08);
  font-weight: 200;
  margin: 0 5px 
}
.uploadClick:hover {
  cursor: pointer;
}

.user_profile_wrapper {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  max-width: 100px;
  box-sizing: border-box;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.profile_picture_name .profile_picture_img:hover .user_profile_wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background-size: 105% 105%;
}
.profile_edit_card {
  position: relative;
}
.profile_edit_card_cancel {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 18;
}
.listPage_header h4 {
}
.listPage_header h4 strong, .listPage_header h4 small {
  display: block;
}
.listPage_topics_wrapper {
  margin: 25px 0;
}
.listPage_topics_wrapper .listPage_topics_meta {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 0 0 15px;
  
}
.listPage_topics_wrapper .listPage_topics_meta > div {
  padding: 0 0;
  margin-bottom: 10px;
}
.listPage_topics_wrapper .listPage_topics_meta strong {
  font-size: 17px;
  position: relative;
  top: 5px;
}
.listPage_books_wrapper {}
.listPage_books_single {
  display: block;
  float: left;
  margin: 0 15px 15px;
  height: 285px
}
.settings_list_wrapper {
  list-style: none;
  padding: 0
}
.settings_list_wrapper li {
  padding: 10px 0;
  display: block;
}
.settings_list_wrapper li label {
  margin: 0
}
.settings_list_wrapper li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.settings_list_header {
  font-size: 17px;
  font-weight: 500;
  border-bottom: none !important;
}
.accountUserMetaWrapper {}
.accountUserMetaWrapper .aum_username {
  font-size: 2em;
  display: block;
}
.accountUserMetaWrapper .aum_name {
  position: relative;
  top: -5px;
  margin-right: 10px;
  font-size: .9em
}
.accountUserMetaWrapper .aum_joined {
  font-size: .8em;
  position: relative;
  top: -5px;
  clear: both;
  opacity: .7;
}
.accountUserMetaWrapper .aum_action_btns {
  display: block
}
.accountUserMetaWrapper .aum_logoutLink {
  display: inline-block;
  clear: both;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.5);
  padding: 3px 7px;
  font-size: .9em;
  opacity: .5;
  margin: 5px 0;
  transition: all .28s ease;
}
.accountUserMetaWrapper .aum_logoutLink:hover {
  opacity: 1;
  cursor: pointer;
}
.accountUserMetaWrapper .aum_logoutLink .bp3-icon {
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.aum_Numbers_Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 25px 0 0;
}
.aum_Numbers_Wrapper div {
  text-align: center;
  flex-grow: 1;
}
.aum_Numbers_Wrapper div .aum_numbers_number {
  font-size: 1.5em;
  font-weight: 600;
  display: block;
}
.userProfileNav {
  margin: 35px 0 15px;
  font-size: .95em;
  box-shadow: 0px 2px 5px rgba(92,112,128,.2);
  position: relative;
}
.userProfileNav .userProfileNav_top {
  display: flex;
  background-color: #5c7080;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.userProfileNav .userProfileNav_top .userProfileNav_top_item {
  display: block;
  padding: 5px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  position: relative;
  transition: all .28s ease;
  color: rgba(255,255,255,.6)
}
.userProfileNav .userProfileNav_top .userProfileNav_top_item i {
  margin-right: 5px;
}
.userProfileNav .userProfileNav_top .userProfileNav_top_item:hover {
  cursor: pointer;
  color: white;
}
.userProfileNav .userProfileNav_top .userProfileNav_top_item.nav_active {
  color: white;
}
.userProfileNav .userProfileNav_top .userProfileNav_top_item.nav_active:after {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: calc(50% - 2px)
}
.userProfileNav .userProfileNav_bottom {
  background-color: white;
  overflow: hidden;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative
}
.userProfileNav .userProfileNav_bottom .userProfileNav_bottom_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.lockedBtn {
  position: absolute;
  right: 0;
  top: 45px;
  list-style: none;
  height: 30px;
  padding: 4px 15px 0 5px;
  background-color: white;
  box-shadow: -10px 0px 10px 1px rgba(255,255,255,1);
  transition: all .2s ease
}
.lockedBtn:hover {
  cursor: pointer;
  color: rgba(0,0,0,.7);
}
.blankItem {
  width: 250px !important;
  height: 25px !important;
}
.blankItem:hover {
  cursor: unset !important;
}
.userProfileNav_bottom_list.userProfileNav_shelves li {
  display: block
}
.userProfileNav_bottom_list.userProfileNav_shelves li span {
  display: block;
  white-space: nowrap
}
li span.nav_btn {
  /* border-left: 1px solid rgba(0,0,0,.3); */
  padding-left: 10px
} 
li span.nav_btn i {
  margin-right: 5px;
}
.userProfileNav .userProfileNav_bottom .userProfileNav_bottom_list li {
  display: block;
  padding: 5px;
  transition: all .28s ease;
  color: rgba(0,0,0,.4);
  margin-right: 15px;
}
.userProfileNav .userProfileNav_bottom .userProfileNav_bottom_list li .bp3-icon {
  position: relative;
  top: -1px;
  margin-right: 3px;
}
.userProfileNav .userProfileNav_bottom .userProfileNav_bottom_list li:hover {
  cursor: pointer;
  color: rgba(0,0,0,.7);
}
.userProfileNav .userProfileNav_bottom .userProfileNav_bottom_list li.nav_active {
  font-weight: 500;
  color: rgba(0,0,0,.7)
}
.up_stats_panelWrapper {
  height: 350px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px 8px rgba(0,0,0,.1);
  margin: 15px 0;
}
.up_stats_panelWrapper.x_lt3 {
  height: calc(220px + 176px);
}
.up_stats_panelWrapper.x_lt5 {
  height: calc(220px + 352px);
}
.up_stats_panelWrapper.x_mt5 {
  height: calc(220px + 440px);
}
.up_stats_panelWrapper .up_state_panel_stack {
  padding: 15px;
  color: rgba(0,0,0,.8);
}
.up_stats_panelWrapper .up_state_panel_stack h4 {
  font-weight: 600;
  color: rgba(0,0,0,.8);
}
.stats_item_wrapper .stats_item {
  margin-bottom: 15px;
}
.statNavBarWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.statNavBarWrapper .statNavBarStates {
  width: 220px;
}
.statNavBarWrapper .statNavBarActions {
  width: calc(100% - 220px);
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.statNavBarWrapper .statNavBarActions .statNavBarActions_btn {
  margin-left: 10px;
}
.stats_selectedNote {
  font-size: .85em;
}

.justBooks_wrapper {
  padding: 15px;
}
.justBooks_wrapper header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 25px;
}
.justBooks_wrapper header small {
  display: block;
}
.justBooks_wrapper .row .col-12 {
  display: flex;
}
