.appHeader {
  background-color: #f4f6f7;
  z-index: 19
}
.appHeader.loggedInHeader {
  background-color: #5c7080;
  box-shadow: 0px 0px 4px 3px rgba(92,112,128,.2);
  border-bottom: 1px solid #f4f6f7;
}
.headerWrapper {
  padding: 5px 15px 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.logoWrapper {
  position: relative;
  top: 5px
}
.logoWrapper.logoBorder {
  padding: 3px 5px;
  border: 1px solid #b2c0ca;
  border-radius: 4px;
  top: 4px;
}
.logoWrapper img {
  width: 12px;
  margin-right: 5px;
  position: relative;
  top: -3px
}
.logoWrapper.logoBorder img {
  margin-right: 0;
}
.logoWrapper span {
  font-family: ministry, sans-serif;
  color: #303030;
}
.logoWrapper.logoLight span {
  color: white;
}
.logoWrapper span.logoKeen {
  font-weight: 300;
  font-size: 15px;
}
.logoWrapper span.logoPages {
  font-weight: 500;
  font-size: 15px
}
.logoWrapper span.logoTld {
  font-weight: 500;
  font-size: 11px
}
.logoWrapper.larger img {
  width: 17px;
  top: -5px
}
.logoWrapper.larger span.logoKeen, .logoWrapper.larger span.logoPages {
  font-size: 20px;
}
.logoWrapper.larger span.logoTld {
  font-size: 16px;
}
.logoArea {
  float: left
}
.menuArea {
  float: right;
}
.menuArea .authStatusWrapper {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: 3px
}
.authStatusWrapper .bp3-button-text {
  position: relative;
  top: -2px;
}
.menuArea span {
  transition: all .10s ease;
}
.loggedInHeader .menuArea span, .loggedInHeader .menuArea i {
  color: white
}
.loggedInHeader .bp3-overflow-list {
  margin-bottom: 0
}
.menuArea .loggedOutLinks {
  display: block;
}
.menuArea .loggedOutLinks span {
  display: inline-block
}
.menuArea .loggedOutLinks span a {
  color: rgba(0,0,0,.6)
}
.menuArea .bp3-popover-wrapper:hover {
  cursor: pointer;
}
.appHeader:not(.loggedInHeader) .menuArea .bp3-popover-wrapper:hover span {
  color: black
}
.headerUserMenu .bp3-menu-item i {
  position: relative;
  top: 4px
}
