.book_card_wrapper {
  width: 100%;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,.07);
  border-radius: 5px;
  overflow: hidden;
}
.book_card_container {
  
  display: flex;
  width: 100%;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
.book_card_picture_wrapper {
  transition: all .2s ease;
  width: 30%;
  padding: 25px;
  position: relative;
  z-index: 18
}
.book_card_picture_container {
  /* max-width: 125px; */
  position: relative;
  z-index: 18
}

.book_card_picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 3px 5px rgba(0,0,0,.17);
  width: 100%;
  display: block;
  position: relative;
  z-index: 18
}
.book_card_picture:after {
  padding-bottom: 135%;
  display: block;
  content: ' ';
}
.book_card_picture .book_card_spinner_wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.68);
  text-align: center;
  padding-top: 45px;
}
.book_card_picture .book_card_spinner_wrapper i {
  font-size: 3em;
  color: #5c7080;
}
.book_card_content_wrapper {
  position: relative;
  width: 70%;
  z-index: 17
}
.book_card_more_btn_wrapper {
  position: absolute;
  top: 10px;
  right: 15px;
}
.book_card_content_container {
  padding: 25px 15px 15px 0;
  width: 100%;
}
.book_card_title {
  font-weight: 600;
  font-size: 1.25em;
}
.book_card_title span {
  max-height: 21px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.book_card_subtitle {
  color: rgba(0,0,0,.4);
  width: 100%;
  overflow: hidden;
  margin-top: 3px;
}
.book_card_subtitle span {
  max-height: 20px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.book_card_author {
  font-weight: 500;
  font-size: .9em;
  color: rgba(0,0,0,.54);
  margin-top: 3px;
}
.book_card_author {
  width: 100%;
}
.book_card_author span {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.book_card_topic_wrapper {
  background-color: #b2c0ca;
  padding: 5px 0;
  position: relative;
  z-index: 0;

}
.book_card_topic_wrapper:before {
  background-color: #b2c0ca;
  padding: 5px 0;
  height: 100%;
  top: 0;
  left: -162px;
  content: ' ';
  width: 100%;
  position: absolute;
  z-index: 0;
  display: block;
}
.book_card_topic_wrapper .book_card_topic_container {
  /* overflow-x: scroll;
  overflow-y: hidden; */
  overflow: hidden;
}
.book_card_topic_wrapper .book_card_topic_container .book_card_topics {
  display: flex;

}
.book_card_topic_wrapper .book_card_topic_container .topicCompWrapper {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 15px;
}
.book_card_topic_empty_wrapper {
  background-color: rgba(178,192,202,.35);
  margin-right: 15px;
  border-radius: 4px;
  padding: 5px 10px;
}
.book_card_topic_empty_wrapper span {
  color: rgba(0,0,0,.5);
}
.book_card_topic_empty_wrapper .book_card_topic_container {
  display: flex;
  justify-content: space-between
}
.book_card_engage_summary_wrapper {
  margin: 15px 0;
}
.book_card_engage_summary_container {
  display: flex;
}
.book_card_engage_summary {
  margin-right: 20px;
  font-size: .95em;
  transition: all .2s ease;
}
.book_card_engage_summary:first-child:hover {
  cursor: pointer;
  color: black
}
.book_card_engage_summary i {
  margin-right: 5px;
}
.book_card_engage_summary strong {
  margin-right: 3px;
  font-weight: 700
}
.book_card_engage_summary span {
  color: rgba(0,0,0,.55)
}
.book_card_actions_wrapper {
  background-color: rgba(92,112,128, .1)
}
.book_card_actions_container {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}
.book_card_actions_container li {
  padding: 8px 15px;
  font-size: .97em;
  font-weight: 500;
  color: rgba(0,0,0,.55);
  transition: all .2s ease;
  display: block;
}
.book_card_actions_container li:not(:first-child) {
  border-left: 1px solid rgba(0,0,0,.15)
}
.book_card_actions_container li i {
  margin-left: 10px;
}
.book_card_actions_container li:hover {
  cursor: pointer;
  color: rgba(0,0,0,.8);
}
