.questionCardWrapper {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
}
.questionCardWrapper .questionCard_content {
  padding: 10px;
}
.questionCardWrapper .questionCard_content .questionCard_meta {
  font-size: 12px;
  color: rgba(0,0,0,.5);
  margin-bottom: 10px;
}
.questionCardWrapper .questionCard_content .questionCard_meta .questionCard_meta_author {
  font-weight: 600
}
.questionCardWrapper .questionCard_content .questionCard_meta .questionCard_meta_time {
  margin-left: 15px;
}
.questionCardWrapper .questionCard_content .questionCard_meta .questionCard_meta_more {
  float: right;
}
.questionCardWrapper .questionCard_content .questionCard_meta .questionCard_meta_more:hover {
  cursor: pointer;
}
.questionCardWrapper .questionCard_content .questionCard_details {}
.questionCardWrapper .questionCard_content .questionCard_details .questionCard_details_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: block;
  max-height: 40px;
}
.questionCardWrapper .questionCard_content .questionCard_details .questionCard_details_description {
  color: rgba(0,0,0,.5)
}
.questionCardWrapper .questionCard_content .questionCard_topics {
  margin: 15px -10px 5px;
  background-color: rgba(167, 182, 194, 0.85);
  padding: 5px;
}
.questionCardWrapper .questionCard_content .questionCard_comment {
  margin-top: 10px;
}
