/* @import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css'; */


@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* @import "./assets/css/bootstrap.min.css";
@import "./assets/css/bootstrap-theme.min.css"; */


body {
  font-family: ministry, sans-serif;
}
button:focus {
  outline: none;
}

@media (max-width: 370px) {
  .hidden-xs {
    display: none;
  }
} 
@media (max-width: 500px) {
  .hidden-sm {
    display: none
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}