@import "~normalize.css";
@import "~@fortawesome/fontawesome-pro/css/all.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "~draft-js/dist/Draft.css"


/* @import "./assets/css/bootstrap.min.css";
@import "./assets/css/bootstrap-theme.min.css"; */

:focus {
  outline: none !important
}
body {
  font-family: ministry, sans-serif;
}
#root {
  height: 100%
}
button:focus {
  outline: none;
}

.authWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(167, 182, 194, 0.13);
}

.authContainer {
  margin: 0 auto;
}
.authContainer h3 {
  font-weight: 700
}
.authContainerPageWrapper {
  background-color: white;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom: 3px solid rgba(167, 182, 194, 0.85);
}
.authLogoWrapper {
  margin-bottom: 10px;
}
.authBottomLinks {}
.authBottomLinks ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.authBottomLinks ul li {
  text-align: center;
}
.authBottomLinks ul li a {
  color: #5c7080;
}
.authBottomLinks ul li:not(:last-child) {
  border-right: 1px solid rgba(167, 182, 194, 0.85)
}
.authBottomLinks ul li.forLogin {
  width: 50%;

}
.authBottomLinks ul li.forRegister {
  width: 100%;
}

@media (max-width: 370px) {
  .hidden-xs {
    display: none;
  }
  .centerOnSmall .singleBookWrapper {
    margin: 0 auto;
  }
  .heroSliderWrapper .heroSliderStyle {
    padding-top: 0 !important;
  }

} 
@media (max-width: 500px) {
  .hidden-sm {
    display: none
  }
  .centerOnSmall .singleBookWrapper {
    margin: 0 auto;
  }
  .bookResultsWrapper {
    flex-direction: column
  }
  .heroSliderWrapper {
    background-size: auto !important
  }
  .heroSliderWrapper .heroSlider_slide .container .heroSlider_content_container {
    flex-wrap: wrap-reverse;
  }
  .heroSliderWrapper .heroSlider_slide  .hero_slider_title {
    font-size: 3em !important;
  }
  .heroSliderWrapper .heroSlider_slide .container .heroSlider_content_container .heroSlider_content_img {
    margin-bottom: 15px;
  }
  .heroSliderWrapper .heroSlider_slide .container .heroSlider_content_container .heroSlider_content_text {
    text-align: center !important;
    margin-top: 25px;
  }
  .shelfForm_fields_wrapper {
    padding-top: 25px !important
  }
  .book_card_picture_wrapper {
    padding: 25px 13px !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.sideSticky {
  position: sticky !important;
  top: 100px;
}
.pull-right {
  float: right
}
.bp3-control-indicator, .bp3-control-indicator:before, .bp3-switch input, .bp3-switch span, .bp3-switch label {
  outline: none;
}
.authModalWrapper .authModalCard {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.authModalWrapper .authModalCard h6, .authModalWrapper .authModalCard h5 {
  color: white;

}
.authModalWrapper .authModalCard h6, .authModalWrapper .authModalCard h5 a {
  position: relative;
  top: 1px
}
.authModalCard header.authModalHeader {
  display: block;
  position: relative;
  background-color: #5c7080;
  margin: -20px -20px 0px;
  padding: 20px 20px 15px;
}
.authModalCard header.authModalHeader strong, .authModalCard header.authModalHeader small {
  display: block;
  margin: 5px 0;
}
.authModalCard header.authModalHeader small:last-child {
  font-weight: 200
}
.authModalCard header.authModalHeader .authModalDismissBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.authModalMiddleLinks {}
.authModalMiddleLinks .authBtnHolder {
  background-color: #5c7080;
  margin: 0 -20px 0;
  padding: 5px 20px;
  border-top: 1px solid rgba(255,255,255,.2);
}
.authModalMiddleLinks .authBtnHolder button {
  color: white;
  margin-right: 10px;
}
.authModalMiddleLinks .authBtnHolder button:hover {
  color: white
}
.margin-right-15 {
  margin-right: 15px
}
.auto-width {
  width: auto !important
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
