.singleBookWrapper {
  width: 160px;
  margin-right:40px
}
.singleBookWrapper div.bookPicture {
  width: 100%;
  height: 210px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.singleBookWrapper div.bookPicture:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.singleBookWrapper .bookTitle {
  display: block;
  font-weight: 600;
  font-size: 15px;
}
.singleBookWrapper .bookAuthor {
  font-weight: 200;
  display: block;
  margin-top: -3px;
}
.bookLink {
  display: block;
  width: 100%;
  height: 100%
}
.bookMark {
  position: absolute;
  top: 0;
  color: #5c7080;
}
.topicsMeta {
  position: absolute;
  height:32px;
  font-size: 11px;
  padding: 5px;
  font-weight: 700;
  bottom: -32px;
  visibility: hidden;
  transition: all .2s ease;
  background-color: rgba(167, 182, 194, 0.85);
  text-transform: uppercase;
  display: block;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.topicsMeta .topicsHolder {
  padding: 5px;
  position: relative
}
.bookMenu {
  display: flex;
  background-color: #5c7080;
  position: absolute;
  bottom: -62px;
  width: 100%;
  transition: all .2s ease;
  height: 31px;
  visibility: hidden;
  border-top: 1px solid rgba(255, 255, 255, .5);
}
.singleBookWrapper:hover div.bookPicture .bookMenu {
  bottom: -1px;
  visibility: visible;
}
.singleBookWrapper:hover div.bookPicture .topicsMeta {
  bottom: 30px;
  visibility: visible;
}
.bookMenu .bookMenu_item {
  width: 33.33%;
  text-align: center;
  padding: 5px;
  color: white;
  transition: all .2s ease;
}
.bookMenu .bookMenu_item:hover {
  background-color: rgba(0,0,0,.5);
}
.bookMenu .bookMenu_item > span,
.bookMenu .bookMenu_item > span > span,
.bookMenu .bookMenu_item .bp3-popover-wrapper,
.bookMenu .bookMenu_item .bp3-popover-wrapper > span,
.bookMenu .bookMenu_item .bp3-popover-wrapper > span > span {
  width: 100%;
  height: 100%;
  text-align: center
}

.bookMenu .bookMenu_item .bp3-icon {
  position: relative;
  top: -4px;
}

.bookMenu .bookMenu_item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, .5);
}
.colorLightBlue {
  
}
